SECRET_KEY=super-secret-herbchain-ayush-hackathon-key-2025
DATABASE_URL=sqlite:///./herbchain.db
POLYGON_RPC_URL=https://rpc-amoy.polygon.technology
CONTRACT_ADDRESS=0x3A9F56cB34720970C48483B462b48e3E43B33072
IPFS_GATEWAY=https://ipfs.io/ipfs/
